body{
  font-family:Arial;
  background:#111;
  color:white;
  margin:0;
}

header{
  background:black;
  text-align:center;
  padding:20px;
}

.productos{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
  padding:20px;
}

.gorra{
  background:#1e1e1e;
  border-radius:15px;
  overflow:hidden;
  text-align:center;
  padding-bottom:20px;
}

.gorra img{
  width:100%;
  height:250px;
  object-fit:cover;
}

button{
  background:#ff3c00;
  color:white;
  border:none;
  padding:12px 20px;
  border-radius:10px;
  cursor:pointer;
}

.carrito-btn{
  position:fixed;
  bottom:20px;
  right:20px;
  background:#25D366;
  padding:15px;
  border-radius:50px;
  color:white;
  text-decoration:none;
}

.item{
  background:#1d1d1d;
  margin:20px;
  padding:20px;
  border-radius:15px;
}

input{
  width:60px;
  padding:5px;
}

.whatsapp{
  margin:20px;
  background:#25D366;
}